.button-wrapper {
  display: flex;
  padding: 20px 0px;
  flex-direction: column;
  justify-content: center;
}

.tables-container {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
