.table {
  width: 100%;
  max-width: 400px;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: white;
  border-collapse: collapse;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
}

.sr-caption {
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
