.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top-color: #333;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin: 0 auto;
  position: absolute;
  top: 48%;
  left: 48%;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  padding: 20px 0px;
  justify-content: center;
  flex-direction: column;
}
